<div class="col-sm-12" ng-controller="ClientsCtrl">


	<div class="row">
		<div class="col-sm-12">
			<h1>CLIENTS</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-3">
			<form role="form" ng-submit="createClient(client)" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : client.errors.name}">
					<label class="control-label" for="name">Name:</label>
					<input type="text" class="form-control" id="name" ng-model='client.name' placeholder="Enter client name">
					<span class="help-block">
						<div ng-repeat="error in client.errors.name">Name {{ error }}</div>
					</span>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : client.errors.email}">
					<label class="control-label" for="email">Email:</label>
					<input type="text" class="form-control" id="email" ng-model='client.email' placeholder="Enter client email">
					<span class="help-block">
						<div ng-repeat="error in client.errors.email">Email {{ error }}</div>
					</span>
				</div>
				<button type="submit" class="btn btn-default">ADD</button>
			</form>
		</div>
		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label">Search:</label>
						<input type="text" class="form-control" placeholder="Search a client" ng-model="query" ng-change="search()">
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>id</th>
							<th>name</th>
							<th>email</th>
							<th>date update</th>
							<th>date creation</th>
							<th>tools</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="client in pagedClients[currentPage] | orderBy:sortingOrder:reverse">
							<td>{{ client.id }}</td>
							<td>{{ client.name }}</td>
							<td>{{ client.email }}</td>
							<td>{{ client.updated_at | date:'medium' }}</td>
							<td>{{ client.created_at | date:'medium' }}</td>
							<td><a href='' ng-click="deleteClient(client.id, $index)">Delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<ul class="pagination pull-right">
		        <li ng-class="{disabled: currentPage == 0}">
		            <a href ng-click="prevPage()">« Prev</a>
		        </li>
		        <li ng-repeat="n in range(pagedClients.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
		            <a href ng-bind="n + 1">1</a>
		        </li>
		        <li ng-class="{disabled: currentPage == pagedClients.length - 1}">
		            <a href ng-click="nextPage()">Next »</a>
		        </li>
		    </ul>
		</div>
	</div>


</div>
